body {
    color: #4848f7;
    background: hsl(278, 77%, 54%);
    margin: 0px;
    font-family: "Roboto Slab", sans-serif;
}

header {
    border-bottom: solid 2px cornflowerblue;
    padding: 20px;
    font-size: 32px;
    color: #204eb2;
}

.chamada{
    background: rgb(196, 111, 245);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
img {
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}